<header class="px-4 py-4 md:p-4 border-b border-gray-200 fixed w-full z-20 top-0 start-0 bg-[rgba(255,255,255,0.8)]">
  <div class="flex justify-between">
    <h1 class="flex items-center">
      <%= link_to root_path do %>
        <%= image_tag  'logo.png', class: 'block max-w-full w-[80px] md:w-[95px]' %>
      <% end %>
    </h1>

    <div class="flex items-center">
      <%= link_to '投稿', new_review_path, class: 'mr-2 md:mr-3 px-3 md:px-4 py-2 shadow rounded-lg bg-[rgb(115,207,223)] hover:bg-[rgb(105,189,204)] transition-colors text-sm md:text-base text-white' %>

      <div>
        <button data-collapse-toggle="navbar-sticky" type="button" class="flex items-center"  aria-controls="navbar-sticky" aria-expanded="false">
          <%= image_tag  ActiveDecorator::Decorator.instance.decorate(current_user).avatar_img, class: 'block rounded-[50%] max-w-full w-[40px] md:w-[40px] h-[40px] md:h-[40px] object-cover' %>
        </button>
      </div>
    </div>
  </div>

  <div class="hidden w-full" id="navbar-sticky">
    <div class="flex justify-end">
      <ul class="flex flex-col mt-3 font-medium border border-gray-100 rounded-lg bg-white rtl:space-x-reverse w-[9em] text-right">
        <li>
          <%= link_to t('views.header.profile'), edit_user_path(current_user), class: 'block text-sm w-full text-[rgb(115,207,223)] hover:text-[rgb(105,189,204)] px-2 pt-2 pb-1' %>
        </li>
        <li>
          <%= link_to t('views.header.posted'), own_path(current_user.id), class: 'block text-sm w-full text-[rgb(115,207,223)] hover:text-[rgb(105,189,204)] px-2 py-1' %>
        </li>
        <li>
          <%= link_to t('views.header.favorites'), favorites_reviews_path, class: 'block text-sm w-full text-[rgb(115,207,223)] hover:text-[rgb(105,189,204)] px-2 py-1' %>
        </li>
        <li>
          <%= link_to t('views.header.logout'), logout_path, class: 'block text-sm w-full text-[rgb(115,207,223)] hover:text-[rgb(105,189,204)] px-2 pt-1 pb-2', data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
  </div>

  <% if request.path != new_review_path %>
    <%= link_to  new_review_path, class: 'w-[50px] h-[50px] shadow rounded-[50%] bg-[rgba(255,255,255,0.9)] hover:bg-white transition-colors text-sm md:text-base text-white fixed bottom-5 md:bottom-6 right-4 md:right-8 flex items-center justify-center fill-[rgb(115,207,223)] border-[0.5px] border-[rgb(115,207,223)]' do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="new-icon"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M373.5 27.1C388.5 9.9 410.2 0 433 0c43.6 0 79 35.4 79 79c0 22.8-9.9 44.6-27.1 59.6L277.7 319l-10.3-10.3-64-64L193 234.3 373.5 27.1zM170.3 256.9l10.4 10.4 64 64 10.4 10.4-19.2 83.4c-3.9 17.1-16.9 30.7-33.8 35.4L24.4 510.3l95.4-95.4c2.6 .7 5.4 1.1 8.3 1.1c17.7 0 32-14.3 32-32s-14.3-32-32-32s-32 14.3-32 32c0 2.9 .4 5.6 1.1 8.3L1.7 487.6 51.5 310c4.7-16.9 18.3-29.9 35.4-33.8l83.4-19.2z"/></svg>
    <% end %>
  <% end %>
</header>
