<% if !logged_in? && params[:page].nil? && params[:commit].nil? %>
  <%= render 'layouts/introduction' %>
<% end %>

<div class="pt-6 pb-3 py-4 md:px-5 md:py-0 md:m-5 flex justify-center">
  <%= render 'reviews/search_form' %>
</div>

<% if @reviews.present? %>
  <div>
    <%= render 'reviews/sort_buttons' %>
  </div>
  <div>
    <%= render @reviews %>
  </div>
<% else %>
  <div class="text-center pt-10 pb-4 md:pb-0"><%= t('default.message.no_reviews') %></div>
<% end %>
<div class="text-center my-4 md:my-0"><%= paginate @reviews %></div>
