<div class="px-4 pt-6 pb-4 md:pt-4 md:pb-5 md:m-10 md:mb-0">
  <div class="flex justify-between">
    <!-- icon -->
    <%= render 'reviews/icon_name', review: @review %>

    <% if logged_in? %>
      <% if current_user.own?(@review) %>
        <div class="flex items-end gap-4">
          <%= render 'reviews/share_button', review: @review %>
          <%= render 'reviews/crud_buttons', review: @review %>
        </div>
      <% else %>
        <%= render 'reviews/favorite_button', review: @review %>
      <% end %>
    <% end %>
  </div>

  <div class="flex flex-wrap gap-2 items-center justify-between mt-6">
    <!-- review詳細 -->
    <div class="w-[52%] max-w-[52%] text-xs text-right">
      <ul>
        <li class="pb-1 border-b border-dotted border-[rgb(166,217,226)]">
          <div><%= @review.format_created_at %></div>
        </li>

        <li class="mt-3 pb-1 border-b border-dotted border-[rgb(166,217,226)]">
          <div><%= @review.implementation_term %></div>
        </li>

        <li class="mt-3 pb-1 border-b border-dotted border-[rgb(166,217,226)]">
          <div><%= @review.format_prefecture %></div>
        </li>

        <li class="mt-3 pb-1 border-b border-dotted border-[rgb(166,217,226)]">
          <div><%= @review.format_fee %></div>
        </li>
      </ul>
    </div>

    <!-- review対象 -->
    <% ogp = OpenGraph.new(@review.web_page.url) %>
    <%= link_to @review.web_page.url, class: 'max-w-[45%]', target: :_blank, rel: "noopener noreferrer" do %>
      <div class="border border-solid border-gray-200 rounded-2xl relative max-w-full">
        <div>
          <%= image_tag ogp.images[0] || "ogp.png", class: 'block rounded-[0.9rem] max-w-full object-cover object-center min-h-[150px]' %>

          <span class="px-2 pt-2 md:pt-1 pb-2 absolute bottom-0 bg-[rgba(0,0,0,.6)] rounded-b-[0.9rem] box-border w-[-webkit-fill-available]">
            <span class="line-clamp-1 text-gray-300 text-xs md:text-base"><%= ogp.title || "" %></span>
            <span class="hidden text-[0.7em] md:line-clamp-1 leading-5 text-gray-400"><%= @review.web_page.url %></span>
            <span class="hidden text-[0.7em] md:line-clamp-1 leading-5 text-gray-400"><%= ogp.description || "" %></span>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-2">
    <!-- ジャンル・タグ -->
    <div class="flex flex-wrap gap-y-[0.2rem]">
      <span class="block text-sm rounded py-[1.5px] px-2 bg-[rgb(239,123,81)] text-white"><%= @review.genre_i18n %></span>
    </div>
    <% if @review.tags.present? %>
      <div class="pt-1 flex flex-wrap gap-y-[0.2rem] gap-x-1">
        <% @review.tags.each do |tag| %>
          <span class="inline-block text-sm rounded py-[1.5px] px-2 bg-[rgb(166,217,226)] text-white"><%= tag.name %></span>
        <% end %>
      </div>
    <% end %>

    <!-- 満足度 -->
    <div class="flex items-center gap-2 flex-row mt-3 mb-3 font-handwriting">
      <div class="text-sm">
        <%= Review.human_attribute_name(:satisfaction) %>
      </div>
      <div class="w-[calc(100%-7.5rem)] relative">
        <div class="w-[calc(100%-1px)] h-[calc(1rem-0.2px)] rounded-lg satisfaction absolute top-[-7.9px]"></div>
        <div class="w-full h-4 rounded-lg bg-gradient-to-r from-[transparent] from-<%= @review.satisfaction %> to-gray-100 to-<%= @review.satisfaction %> absolute top-[-8px]"></div>
      </div>
      <div class="text-xs tracking-[-0.1em]"><%= @review.evaluate_satisfaction %></div>
    </div>

    <!-- reviewコンテンツ -->
    <div class="relative mt-4">
      <div class="text-right text-xs absolute top-0 right-0">
      </div>
      <div class="mt-4 whitespace-pre-line leading-[2.3rem]"><span class="pb-[3px] border-b border-dotted border-[rgb(166,217,226)]"><%= @review.content %></span></div>
    </div>
  </div>
  <%= link_to '一覧に戻る', reviews_path, class: 'block w-[5em] mx-auto mt-4 md:mt-8 text-xs md:text-[15px] text-[rgb(166,217,226)]' %>
</div>
