<!DOCTYPE html>
<html>
  <head>
    <title>WsReviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/eecd6b9250.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-[rgb(166,217,226)]">
    <div class="text-gray-700 font-sans text-[15px] md:text-base bg-white">
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <div class="md:container md:mx-auto md:mb-16 md:px-5 pt-[4.25rem] md:pt-[5.25rem]">
        <%= render 'shared/flash_message' %>
        <main>
          <%= yield %>
        </main>
      </div>
      <% if logged_in? %>
        <%= render 'shared/footer' %>
      <% else %>
        <%= render 'shared/before_login_footer' %>
      <% end %>

      <%= javascript_include_tag 'application' %>
  </div>
  </body>
</html>
